@model CinemaWeb.Models.Showtime
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutHomeAdmin.cshtml";
}
<link rel="stylesheet" href="~/css/showtime.css" />
<h2>Chi Tiết Suất Chiếu</h2>

<div class="detail-box">
    <p><b>Phim:</b> @Model.Movie?.MovieName</p>
    <p><b>Phòng:</b> @Model.ScreeningRoom?.RoomName</p>
    <p><b>Giờ:</b> @Model.StartTime</p>
    <p><b>Giá:</b> @Model.Price.ToString("N0") đ</p>
</div>

<a asp-action="Edit" asp-route-id="@Model.IdShowtime">Sửa</a> |
<a asp-action="Index">Quay lại</a>
