@model IEnumerable<CinemaWeb.Models.Showtime>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutHomeAdmin.cshtml";
}

<div class="room-container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="room-title">Quản Lý Suất Chiếu</h2>
        <a class="btn btn-success" asp-action="Create">+ Thêm Suất Chiếu</a>
    </div>

    <table class="table table-bordered table-hover room-table">
    <thead>
        <tr>
            <th>Phim</th>
            <th>Phòng</th>
            <th>Ngày</th>
            <th>Giờ</th>
            <th>Giá</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Movie?.MovieName</td>
        <td>@item.ScreeningRoom?.RoomName</td>
        <td>@item.StartFilm.ToString("dd/MM/yyyy")</td>
        <td>@item.StartTime</td>
        <td>@item.Price.ToString("N0") đ</td>
        <td>
            <a asp-action="Details" asp-route-id="@item.IdShowtime" class="btn btn-info btn-sm btn-action">Xem</a> 
            <a asp-action="Edit" asp-route-id="@item.IdShowtime" class="btn btn-warning btn-sm btn-action ">Sửa</a> 
            <a asp-action="Delete" asp-route-id="@item.IdShowtime" class="btn btn-danger btn-sm btn-action">Xóa</a>
        </td>
    </tr>
}
    </tbody>
</table>
</div>
