@model IEnumerable<Cinema>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutHomeAdmin.cshtml";
}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Danh sách rạp</h2>

        <a asp-action="Create" class="btn btn-primary">➕ Thêm rạp</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Tên rạp</th>
                <th>Địa chỉ</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CinemaName</td>
                <td>@item.Address</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdCinema" class="btn btn-info btn-sm btn-action">Xem</a>
                    <a asp-action="Edit" asp-route-id="@item.IdCinema" class="btn btn-warning btn-sm btn-action">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@item.IdCinema" class="btn btn-danger btn-sm btn-action">Xóa</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
