@model CinemaWeb.Models.Payment
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutHomeAdmin.cshtml";
}
<div class="payment-container">
    <div class="payment-title">Chi tiết Thanh Toán</div>

    <dl class="row">
        <dt class="col-sm-3">Phương thức</dt>
        <dd class="col-sm-9">@Model.PaymentMethod</dd>

        <dt class="col-sm-3">Số tiền</dt>
        <dd class="col-sm-9">@Model.Price</dd>

        <dt class="col-sm-3">Trạng thái</dt>
        <dd class="col-sm-9">@Model.Status</dd>

        <dt class="col-sm-3">Mã GD</dt>
        <dd class="col-sm-9">@Model.TransactionCode</dd>

        <dt class="col-sm-3">Thời gian</dt>
        <dd class="col-sm-9">@Model.PaymentTime</dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model.IdPayment" class="btn btn-warning">Sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>
