@model IEnumerable<CinemaWeb.Models.Order>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutHomeAdmin.cshtml";
}
<link rel="stylesheet" href="~/css/order.css" />

<div class="order-container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="order-title">Quản lý đơn hàng</h2>
        <a class="btn btn-success" asp-action="Create">+ Tạo đơn hàng</a>
    </div>

    <table class="table table-bordered table-hover order-table">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Khách hàng</th>
            <th>Thời gian</th>
            <th>Tổng tiền</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.IdOrder</td>
            <td>@item.User?.FullName</td>
            <td>@item.OrderTime.ToString("dd/MM/yyyy HH:mm:ss")</td>
            <td>@item.TotalPrice.ToString("N0") ₫</td>
            <td>
                <span class="status">@item.Status</span>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdOrder" class="btn btn-info btn-sm btn-action">Xem</a> 
                @* <a asp-action="Edit" asp-route-id="@item.IdOrder" class="btn btn-warning btn-sm btn-action ">Sửa</a> 
                <a asp-action="Delete" asp-route-id="@item.IdOrder" class="btn btn-danger btn-sm btn-action">Xóa</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
</div>
