@model IEnumerable<CinemaWeb.Models.Movie>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutHomeAdmin.cshtml";
}

<div class="movie-container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="movie-title">Danh sách phim</h2>

        <a asp-action="Create" class="btn btn-add">➕ Thêm phim</a>
    </div>
    <table class="movie-table">
        <tr>
            <th>Poster</th>
            <th>Tên phim</th>
            <th>Thể loại</th>
            <th>Thời lượng</th>
            <th>Hành động</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/@item.Poster" width="80" />
                </td>
                <td>@item.MovieName</td>
                <td>@item.Category</td>
                <td>@item.Duration phút</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdMovie" class="btn btn-info btn-sm btn-action">Xem</a>
                    <a asp-action="Edit" asp-route-id="@item.IdMovie" class="btn btn-warning btn-sm btn-action">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@item.IdMovie" class="btn btn-danger btn-sm btn-action">Xóa</a>
                </td>
            </tr>
        }
    </table>
</div>



