@model CinemaWeb.Models.User
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutHomeAdmin.cshtml";
}
<h2>User Details</h2>

<div class="card mt-3">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Full Name</dt>
            <dd class="col-sm-9">@Model.FullName</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Model.Email</dd>

            <dt class="col-sm-3">Phone Number</dt>
            <dd class="col-sm-9">@Model.PhoneNumber</dd>

            <dt class="col-sm-3">Role</dt>
            <dd class="col-sm-9">@Model.Role</dd>
        </dl>
    </div>
</div>

<br />

<a asp-action="Edit" asp-route-id="@Model.IdUser" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
