@model IEnumerable<CinemaWeb.Models.User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutHomeAdmin.cshtml";
}

<h2>User List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.FullName</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Role</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUser">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUser">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUser">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

