@model CinemaWeb.Models.Seat
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutHomeAdmin.cshtml";
}
<link rel="stylesheet" href="~/css/seat.css" />

<div class="seat-container">
    <h2>Chi tiết ghế</h2>

    <p><strong>Rạp: </strong>@Model.ScreeningRoom?.Cinema?.CinemaName</p>
    <p><strong>Phòng: </strong>@Model.ScreeningRoom?.RoomName</p>
    <p><strong>Hàng ghế: </strong>@Model.SeatRow</p>
    <p><strong>Số ghế: </strong>@Model.SeatNumber</p>
    <p><strong>Loại ghế: </strong>@Model.TypeSeat</p>

    <br />
    <a asp-action="Edit" asp-route-id="@Model.IdSeat" class="btn btn-warning">Sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>
